body{
    
    margin: 0;
    font-family: 'Rubik', sans-serif;

}
.double-sec{
    display: flex;
    
}
.double-div{
    width: 50%;
    padding: 30px;
}
.stay-focused{
    font-size: 40px;
}
.codding-mission2022{
    
}